    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tournois</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#" [routerLink]="['/tournois']">Tous <span class="badge">{{ nombreTournois() }}</span><span class="sr-only">(current)</span></a></li>
              <li *ngIf="nombreTournois('I') > 0"><a href="#"  [routerLink]="['/tournois/type/I']">International <span class="badge">{{ nombreTournois("I") }}</span></a></li>
              <li *ngIf="nombreTournois('NA') > 0"><a href="#" [routerLink]="['/tournois/type/NA']">National A <span class="badge">{{ nombreTournois('NA') }}</span></a></li>
              <li *ngIf="nombreTournois('NB') > 0"><a href="#" [routerLink]="['/tournois/type/NB']">National B <span class="badge">{{ nombreTournois("NB") }}</span></a></li>
              <li *ngIf="nombreTournois('R') > 0"><a href="#"  [routerLink]="['/tournois/type/R']">Régional <span class="badge">{{ nombreTournois("R") }}</span></a></li>
              <li *ngIf="nombreTournois('D') > 0"><a href="#"  [routerLink]="['/tournois/type/D']">Départemental <span class="badge">{{ nombreTournois("D") }}</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autour de moi <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" [routerLink]="['/tournois/autour/10']">10 Km</a></li>
                  <li><a href="#" [routerLink]="['/tournois/autour/50']">50 Km</a></li>
                  <li><a href="#" [routerLink]="['/tournois/autour/100']">100 Km</a></li>
                  <li><a href="#" [routerLink]="['/tournois/autour/200']">200 Km</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" [routerLink]="['/tournois']">France entière</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Chercher un tournoi">
                  <span class="input-group-btn">          
                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </span>          
                </div>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="#">Link</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Paramètres</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Me déconnecter</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

