<div *ngIf="loading">Loading...</div>
<div class="container" *ngIf="!loading">
<div class="container">
  <h1>{{tournoi.nom}}</h1>
  <div class="row">
      <div class="col-md-8"><h3>{{tournoi.duAu}}</h3></div>
      <div class="col-md-4"> <button type="button" class="btn btn-success btn-lg" [routerLink]="['/tournoi', tournoi._id, 'inscription']">Je m'inscris</button></div>
  </div>
  
  <h2>Tournoi {{tournoi.nom_type}}</h2>
  <hr class="my-4">
  <p class="lead">{{tournoi.description}}</p>
  <hr class="my-4">
</div>

<div class="container">
  <h1 class="display-2">Tableaux</h1>
  <table class="table table-striped table-hover">
    <ng-container *ngFor="let jour of jours let j=index">   
      <thead>
        <tr><td colspan="6" class="text-center"><h3>{{formatJour(jour)}}</h3></td></tr>
        <tr>
          <th>Date/Heure</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Nombre d'inscrits</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tableau of tableauxJour(jour) let i=index">
            <tr class="accordion-toggle" role="button" data-toggle="collapse" [attr.data-target]="'#accordion_' + [j] + '_' + [i]">
                <td>{{ heureDebut(tableau) }}</td>
                <td>{{ tableau.nom }}</td>
                <td>{{ tableau.description }}</td>
                <td><span>{{ tableau.inscrits.length }}</span> <span *ngIf="tableau.estComplet" class="label label-danger">complet</span></td>
                <td><i *ngIf="tableau.inscrits.length>0" class="indicator glyphicon glyphicon-chevron-down pull-right"></i></td>
            </tr>
            <tr *ngIf="tableau.inscrits.length>0" class="collapse" id="accordion_{{j}}_{{i}}">
              <td colspan="5">
                <app-inscrits [tableau]="tableau"></app-inscrits>
              </td>
            </tr>
        </ng-container>
      </tbody>
      </ng-container>
    </table>
  <hr class="my-4">
</div>
</div>

