<div class="container">
  <h1>{{tournoi.nom}}</h1>
  <h3>{{tournoi.duAu()}}</h3>
  <h2>Tournoi {{tournoi.nom_type}}</h2>
  <hr class="my-4">
  <p class="lead">{{tournoi.description}}</p>
  <hr class="my-4">
</div>

<div class="container">
  <h1 class="display-2">Tableaux</h1>
  <data-table id="films-grid"
      headerTitle="Tableaux"
      [items]="tableaux"
      [itemCount]="tableauCount"
      (reload)="reloadTableaux($event)"
      (rowCallback)="rowCallback(row, data, index)"

      [pagination]="false"
      [header]="false"
      [indexColumn]="false"
      [showReloading]="false"

      [sortBy]="'nom'"
      [sortAsc]="false"

      [substituteRows]="false"
      [expandableRows]="true"
      [translations]="translations"
      >
      <ng-template #dataTableExpand let-item="item">
          <app-inscrits [tableau]="item"></app-inscrits>
      </ng-template>
      <data-table-column
          [property]="'date_heure'"
          [header]="'Date/Heure'"
          [sortable]="true">
      </data-table-column>
      <data-table-column
          [property]="'nom'"
          [header]="'Nom'"
          [sortable]="true">
      </data-table-column>
      <data-table-column
          [property]="'description'"
          [header]="'Description'"
          [sortable]="false">
      </data-table-column>
      <data-table-column
          [property]="'nombre_inscrits'"
          [header]="'Nombre d\'inscrits'"
          [sortable]="true">
      </data-table-column>
    </data-table>
</div>
